.main {
    display: flex;               
    padding:0;                    
    justify-content: space-between;
    margin-left: 20px;
}
.menu li {
    list-style-type: none ;       
}
.bouton{
    min-width: 120px;               
}
.bouton {
    display:block;                
    margin: 0.5rem;               
    padding: 0.4rem 0;            
    text-align: center;            
    color: rgb(0, 0, 0);                  
    text-decoration: none;        
    border: 1px solid rgb(0, 0, 0);       
    border-radius: 4px;             
    transition: all 1s ;          
}
.bouton.suggestion{
    background-color: #74d2e2;
    color: #020200;
    border-color: #000000;
}
.bouton.actif {    
    background-color: #000 ; 
    color: #ffffff ;
    border-color: #ffffff ;
}
.bouton:hover,
.bouton:hover.actif{
    background-color: #74d2e2;
    color: #020200;
    border-color: #000000;
}

#logo {
    display: flex;
    margin-right: 62%;
    width: 250;
}

.sub {
    display: flex;               
    padding:0;                    
    justify-content: center;   
}
.sub a{
    min-width: 320px;             
}
.icone{
    width: 320;
}
#logo {
    display: flex;
    margin-right: 59%;
    width: 250;
}
.content{
    margin-left: 40px;
    margin-right: 40px;
}

#header{
    background-color: rgb(169, 255, 255);
}
.paragraph p{
    margin-left: 50px;
    margin-right: 50px; 
}

.image{
    margin-left: 15%;
    margin-right: 15%; 
    padding: 50px;
}
.paragraph{
    padding-top: 30px;
    padding-bottom: 35px;
}