<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='./conditions.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <title>Conditions générales</title>
    <nav>
        <ul class="main menu">
            <img id="logo"
                src="https://media.discordapp.net/attachments/968543041478615140/968551394313392238/unknown.png">
            <li><a class="bouton" href="/" target="_self"><b>Accueil</b></a></li>
        </ul>
    </nav>
    <div class="content">
        <p><em>
                <u>
                    <h4>Vos données : </h4>
                </u>
                Nous vous informons que votre données resteront dans notre base de données afin d'améliorer notre site
                web et vous fournir un meilleur service.
            </em></p>
        <p><em>
                <u>
                    <h4>Votre utilisation : </h4>
                </u>
                Nous recueillons des informations concernant la manière dont vous utilisez nos Produits, telles que les
                types de contenu que vous consultez ou avec lesquels vous interagissez, les fonctionnalités que vous
                utilisez, les actions que vous réalisez, et l’heure, la fréquence et la durée de vos activités. Par
                exemple, nous enregistrons quand vous utilisez et quand vous avez utilisé pour la dernière fois nos
                Produits.
            </em></p>
    </div>
    <footer>
        <p>©Hind ACHNIRI</p>
        <p>©Meryem ATTAR</p>
        <p>©Oumaima BOUHMID</p>
        <p>©Aiman MOHASSINE</p>
    </footer>
</body>